// import jquery.form.js - ajaxForm lib
script(type='text/javascript' src='/js/jquery.form.min.js')




#message-input
  .file-input-layer(style='overflow: hidden')
    form(method='POST', enctype='multipart/form-data', id='image-form')
      input.file(id='file-trigger', type='file', name='image' accept='image/*', data-sigil='photo-input')
      
  button.add-file-button +
  input.message-input-box(type='text')
  a.message-send-button 전송
  
#chat-screen
 ul.message-list
 
a.prev-messages 기존 대화목록 가져오기





// CSS Control
script.
  $('input.message-input-box').css('width', $(window).width() - 150);
  
  
// Utilities
script.
  function sendMessage() {
    var message = $('#message-input > input.message-input-box').val();
    if( message.length > 0 ) {
      var data = {
        gid: '#{user.gid}',
        rid: '#{rid}',
        from: '#{user.name}',
        profileImg: '#{user.profileImageUrl}',
        content: JSON.stringify({
          type: 'text',
          message: message
        })
      };
      
      if( socket.socket.connected ) {
        socket.send(JSON.stringify(data));
        $('#message-input > input.message-input-box').val('');
      }
      else {
        alert('메세지 전송에 실패했습니다.');
      }
    }
  }
  
  function sendImage(imageUrl) {
    if(imageUrl.length > 0) {
      var data = {
        gid: '#{user.gid}',
        rid: '#{rid}',
        from: '#{user.name}',
        profileImg: '#{user.profileImageUrl}',
        content: JSON.stringify({
          type: 'image',
          url: imageUrl
        })
      };
      
      if( socket.socket.connected ) {
        socket.send(JSON.stringify(data));
      }
      
      else {
        alert('이미지 전송에 실패했습니다.');
      }
    }
  }

// 업로드 폼 정의.
script.
  var uploadFormDef = {
    url: '/imager/upload',
    success: function(data) {
      imageLoader('off');
      
      if(data.success) {
        sendImage(data.imageUrl);
      }
      else {
        alert('uploading failed!');
      }
    },
    error: function(data) {
      alert('error on uploading image');
    }
  };
  
// 리스너 등록.
script.
  // 파일 전송 관련
  $('#image-form').ajaxForm( uploadFormDef );
  $('button.add-file-button').click(function() { $('#file-trigger').click() });
  $('#file-trigger:file').change(function() {
    var file = this.files[0];
    
    if( !file.type.match(/image.\/*/) ) {
      alert('이미지 파일이 아닙니다.');
    }
    else {
      imageLoader('on');
      
      var supportFlag = !window.Worker || !window.FileReader;
        
      // not support worker
      if( supportFlag ) {
        $('#image-form').submit();
      }
      
      // support worker
      else {
        var reader = new FileReader();
        reader.onload = function(e) {
          var imageDataURL = reader.result;
          if( imageDataURL.length > 1024 * 1024 * 4 ) {
            alert('용량이 너무 커서 전송할 수 없습니다.');
            imageLoader('off');
            return;
          }
          
          var worker = new Worker('/js/workers/uploadImageWorker.js');
          worker.postMessage(imageDataURL);
          worker.onmessage = function(e) {
            if(e.data === 'failed') {
              alert('이미지 전송에 실패했습니다.');
            }
            else {
              var imageUrl = e.data;
              imageLoader('off');
              sendImage(imageUrl);
            }
          }
        }
        
        reader.readAsDataURL(file);
      }
    }
  });
  
  
  // 메세지 전송 함수 등록
  $('a.message-send-button').click( sendMessage );
  $('input.message-input-box').on('keypress', function(e) {
    if( e.keyCode === 13 ) {
      sendMessage();
    }
  });
  
  // // 채팅창 인풋 포커스 유지.
  // $('input.message-input-box').bind('focusout', function(e) {
  //   e.preventDefault();
  //   $(this).focus();
  // });
  
  
  // 이전 메세지 기록 요청
  $('a.prev-messages').click(function() {
    var target = $('ul.message-list > li:last > div.message-container > .content > p:eq(1)').attr('value');
    if( !target ) { // 이미지 인경우.
      target = $('ul.message-list > li:last > div.message-container > .content > p:eq(0)').attr('value');
    }
    
    var data = {};
    data.target = target;
    socket.emit('prevMessages', JSON.stringify(data));
    
    pageLoader('on');
  });