.message-container
  - if ( from !== user.name ) {
    .profile
      img.user-img(src='#{profileImg}')
      p.user-name #{user.name}
  - }
  
  .content
    p.message(value='#{_id}') #{content}
    p.date(value='#{recordedAt}')
  .message-tail


// 날짜 포맷팅
script.
  var recordedAt = '#{recordedAt}';  
  var recordedDate = new Date(recordedAt);
  var recordString = recordedDate.getFullYear();
  recordString += '-' + (recordedDate.getMonth()+1);
  recordString += '-' + recordedDate.getDate();  
  recordString += ' ' + recordedDate.getHours();
  recordString += recordedDate.getMinutes() < 10 ? ':0' : ':';
  recordString += recordedDate.getMinutes();
    
  $('.message-container > .content > p.date').html(recordString);
