.message-container
  - if ( from !== user.name ) {
    .profile
      img.user-img(src='#{profileImg}')
      p.user-name #{from}
  - }
  
  .content
    - if( content.type === 'text' ) {
      p.message(value='#{_id}') #{content.message}
    - }
    - else if( content.type === 'image' ) {
      img.image(src='#{content.url}', onclick='imageZoom(src)')
    - }
    p.date(value='#{recordedAt}')
  .message-tail